<% content_for :page_title do %>
	<%= t('pimport') %>
<% end %>

<%= form_tag({ action: :index }, multipart: true) do %>
	<fieldset data-hook="new_pimport">
		<legend align="center"><%= t(:new_pimport) %></legend>
		<%= label_tag t(:filename) %><br>
		<%= file_field_tag 'catalog_file' %>
		<div class="form-buttons filter-actions actions" data-hook="buttons">
			<%= button t(:upload), 'icon-upload', 'submit', { confirm: t(:cleardb_confirm) } %>
		</div>
	</fieldset>
<% end %>